.popup {
    animation-duration: 0.3s;
    position: absolute;
    top: 0;
    left: 30%;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    /*background-color: rgba(0, 0, 0, 0.5); */
    /* backdrop-filter: blur(5px); */
    border-radius: 8px;
    transition: opacity 300ms ease-in-out;
    z-index: 999999;
  }
  
  .popup-content {
    width: 300px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }

  .popup-enter {
    opacity: 0;
  }
  
  .popup-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
    animation: slideIn 0.3s forwards;
  }
  
  .popup-exit {
    opacity: 1;
  }
  
  .popup-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    animation: slideOut 0.3s forwards;
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(100%);
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0%);
    }
  }
  